<!DOCTYPE html>
<html>
    <head>
        <title>Car meets link up page</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
       
        <div id="content">
            {% for message in get_flashed_messages() %}
                <p>{{ message }}</p>
            {% endfor %}
            <nav>
                <a href="/">Home</a>
                <div>
                    {% if current_user.is_authenticated %}
                    <a href="/new_event">New Car Meet Event</a>
                    <a href="/new_car">Add Car to event</a>
                    <a href="/logout">Log Out</a>
                    {% else %}
                    <a href="/login">Log In</a>
                    <a href="/signup">Sign Up</a>
                    {% endif %}
                </div>
            </nav>
        
        {% block content %}
        {% endblock %}

    </body>
</html>