{% extends 'base.html' %}
{% block content %}
<div class=home-background>
    <h1 class='d-flex justify-content-center'>Car Meet Events</h1>

    <p class='d-flex justify-content-center'><em>Come take a look at the next car meet event!</em></p>

    <h2 class='d-flex justify-content-center'>All Events</h2>

    {% for event in all_events %}
    <div class="event">
        
        <a class="event d-flex justify-content-center" href="/event/{{ event.id }}">{{ event.title }}</a> 
        <p class="event d-flex justify-content-center"><strong>Description:</strong> {{ event.description }}</p>
        <p class="event d-flex justify-content-center"><strong>Address:</strong> {{ event.address }}</p>
        <p class="event d-flex justify-content-center"><strong> Cars Attending:</strong> {{ event.cars|length }}</p>
        <a class="event d-flex justify-content-center" href="/car_show/{{ event.id }}">Check out the car show!</a> 
        
    </div>
    {% endfor %}
</div>

{% endblock %}