{% extends 'base.html' %}
{% block content %}

<h1>Add your Car!</h1>
<form action="{{ url_for('main.new_car') }}" method="POST">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Enter your credentials</legend>

        {{ form.name.label }}
        {{ form.name }}
      
        {{ form.make_name.label }}
        {{ form.make_name }}

        {{ form.photo_url.label }}
        {{ form.photo_url }}

        {{ form.events.label }}
        {{ form.events }}
        
        {{ form.submit }}
    </fieldset>
</form>

{% endblock %}